<div class="modal fade" id="keyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="keyModalLabel">Your instance key</h5>
      </div>
      <div class="modal-body">
        <code id="key-label">you should never see this</code>
      </div>
      <div class="modal-footer">
        <%= form_tag "/you_should_never_see_this", id: "revoke-form", authenticity_token: false do %>
          <%= hidden_field_tag 'authenticity_token', '', id: 'authenticity_token' %>
          <%= submit_tag "Revoke", class: "btn btn-danger pull-left",
          data: {confirm: "Are you sure you want to do this?  Your old key will be revoked and a new key will be generated."}
          %>
        <% end %>

        <button type="button" class="btn btn-secondary"
        data-trigger="manual" data-container="body" data-placement="bottom" data-title="you should never see this"
        data-clipboard-target="#key-label" id="copy-key">
          Copy
        </button>

        <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>
