// Place all the styles related to the BotInstances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.view-instance {
  display: block;
  color: black;
  text-decoration: none;
}

a.view-instance:hover {
  display: block;
  color: black;
  text-decoration: none;
}

.bot-instance-dash-module {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px !important;
  background: white;
  transition: all 0.2s ease;
}

.bot-instance-dash-module:hover {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px !important;
  background: #ededed;
  transition: all 0.2s ease;
}

.bot-instance-reorder-controls {
  position: absolute;
  margin-left: -20px;
  float:left;
}
.bot-instance-list {
  padding: 0;
  margin: {
    left: -16px;
    right: -16px;
  }
  &.no-collaborators {
    margin-bottom: -5px;
  }
  &:not(.no-collaborators) li:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }
  li {
    list-style: none;
    padding: 5px 16px;
  }
}

.submit-arrow {
  border: 0 none;
  background: rgba(0, 0, 0, 1);
  text-align: center !important;
  margin: auto !important;
  width: 16px;
  height: 16px;
}
