// Place all the styles related to the BotInstances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.view-instance {
  display: block;
  color: black;
  text-decoration: none;
}

a.view-instance:hover {
  display: block;
  color: black;
  text-decoration: none;
}

.bot-instance-dash-module {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px !important;
  background: white;
  transition: all 0.2s ease;
}

.bot-instance-dash-module:hover {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px !important;
  background: #ededed;
  transition: all 0.2s ease;
}
