// Place all the styles related to the Bots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bot-dash-module {
  border: 1px solid gray;
  border-radius: 4px;
  border-top: 4px solid gray;
  margin: 5px;
}
